<form name="loginForm">
    <fieldset>
        <label>Username</label>
        <input type="text" required="true"/>
    </fieldset>
    <fieldset>
        <label>Password</label>
        <input type="password" required="true"/>
    </fieldset>
    <fieldset>
        <input type="button" value="Login"/>
    </fieldset>
</form>