<form name="taskForm" ng-submit="taskCtrl.addNewTask(person)">
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in person.tasks">
            <td>
                <input class="form-control" ng-model="task.title" type="text"/>
            </td>
            <td>
                <input class="form-control" ng-model="task.description" type="text"/>
            </td>
            <td class="form-group">
                <menu type="toolbar">
                    <button class="btn btn-default" type="button" ng-click="taskCtrl.saveTask(person, task)">Save</button>
                    <button class="btn btn-danger" type="button" ng-click="taskCtrl.deleteTask(person, task)">Delete</button>
                </menu>
            </td>
        </tr>
        <tr>
            <td class="form-group">
                <input class="form-control" ng-model="taskCtrl.newTask.title"/>
            </td>
            <td class="form-group">
                <input class="form-control" ng-model="taskCtrl.newTask.description"/>
            </td>
            <td class="form-group">
                <input class="btn btn-primary" type="submit" value="Submit"/>
            </td>
        </tr>
        </tbody>
    </table>
</form>
