<!DOCTYPE html>
<html ng-app="taskapp" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <title>Welcome to TaskApp!</title>
</head>
<body ng-controller="PersonController as personCtrl">
    <header>
        <h1 class="text-center">Welcome to Task App</h1>
        <h2 class="text-center">--simple task managing application--</h2>
    </header>

    <div class="list-group-item" ng-repeat="person in personCtrl.persons">
        <person-name></person-name>

        <person-tasks></person-tasks>
    </div>

    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js"></script>
    <script type="application/javascript" src="webjars/js/taskapp.js"></script>
    <script type="application/javascript" src="webjars/js/taskapp-directives.js"></script>
</body>
</html>